<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="/static/images/NASA.jpg" type="image/x-icon">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
   <!-- Bulma Version 0.9.0-->
   <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
   <link rel="stylesheet" type="text/css" href="../css/hero.css">
   <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
   <link rel="stylesheet" href="/static/css/home.css" />
   <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
   <script type="text/javascript" src="../public/js/data/data.js">
   </script>
</head>

<body>
   <%- include('navbar'); -%>
      <section>
         <div class="box has-text-centered">
            <h1 class="is-size-1 is-family-code">About <span id="typewriter" style="color: blue;"></span></h1>
         </div>
         <p class="is-family-code has-text-centered">Need to update what can I do here
         </p>
      </section>
      <section class="has-text-centered">
      </section>
      <%- include('projects'); %>
         <!-- Begin Skills Content -->
         <%- include('skills'); %>
            <%- include('internships'); %>

               </section>
               <footer class="footer">
                  <%- include('contact'); -%>
                     <script src="../js/bulma.js"></script>
                     <script src="/static/js/home.js"></script>
                     <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/2.13.1/core.min.js"></script>
                     <script>
                        new Typewriter('#typewriter', {
                           strings: ['Jason Avalos', 'Me'],
                           autoStart: true,
                           loop: true,
                           delay: 500
                        });
                     </script>
                     <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
                     <script>
                        AOS.init({
                           once: true
                        });
                     </script>
               </footer>
</body>

</html>